.main-color{
    background-color: #f2f7f9;
}
.body-bg{
    background-color: #04b4e0;
}
.rad-32{
    border-radius: 32px;
}
.w-380{
    max-width: 380px;
    padding: 70px 30px 45px;
}
.shadows{
    box-shadow: 0 0 100px -5px rgb(0 0 0 / 25%);
}
.title-name h1{
    font-size: 60px;
    line-height: 74px;
    color: #222;
    font-family: poppins,Helvetica,sans-serif;
    font-weight: 600;
}
.title-name h4{
    color: #888;
    font-size: 21px;
    font-weight: 300;
    margin: 5px 0;
}
.header-title h2{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    margin: 5px 0 7px;
    line-height: 1.2em;
}

